/*ヘッダー*/
.main-page {
  display: flex;
  justify-content: space-between;
}

.title {
font-family: 'Poor Story', system-ui;
letter-spacing: 3px;
font-size: 30px;
text-decoration: none;
}

.lists-right {
  display: flex;
  list-style: none;
}

.user-name {
  font-family: 'Poor Story', system-ui;
  letter-spacing: 3px;
  font-size: 20px;
  text-decoration: none;
}

.logout {
  font-family: 'Poor Story', system-ui;
  letter-spacing: 3px;
  font-size: 20px;
  text-decoration: none;
}

.login {
  font-family: 'Poor Story', system-ui;
  letter-spacing: 3px;
  font-size: 20px;
  text-decoration: none;
}

.sign-up {
  font-family: 'Poor Story', system-ui;
  letter-spacing: 3px;
  font-size: 20px;
  text-decoration: none;
}
