.show-review-top {
  font-family: 'Poor Story', system-ui;
  text-align: center;
  font-size: 30px;
  color: #444444;
}

.show-review {
  font-family: 'Poor Story', system-ui;
  text-align: center;
  display: flex;
  justify-content: center;
}

.review-box {
  height: auto;
  width: 900px;
  padding: 0.5em 1em;
  border: double 5px #BAD3FF;
  display: flex;
  justify-content: space-between;
}

.show-contents {
  width: 400px;
  color: #444444;
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background-color: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}

.evaluation {
  padding-bottom: 5px;
}

.category {
  padding-bottom: 5px;
}

.text {
  padding-bottom: 5px;
}

.show-review-bottom {
  padding-top: 10px;
  font-family: 'Poor Story', system-ui;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-edit-btn {
  text-decoration: none;
}

.show-back-btn {
  text-decoration: none;
}

.show-destroy-btn {
  text-decoration: none;
}

.s-text {
  color: #444444;
}

/*question*/

.container {
  font-family: 'Poor Story', system-ui;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.question-box {
  width: 900px;
  text-align: center;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
}

.question-box-in {
  width: 500px;
  margin: 30px 150px 3px;
  text-align: center;
}

.question-btn {
  font-family: 'Poor Story', system-ui;
  width: 100px;
  height: 40px;
  font-size: 20px;
}

.question {
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;
}