<% @reviews.each do |review| %>

<div class='review_list'>
  <h3 class='item_name'>
    <%= "review.item_name" %>
  </h3>
  <h4 class='user_name'>
    <%= "review.user_name" %>
  </h4>
</div>

<% end %>